
body {
    --color-grey: #7b6f83;
    --color-brown: #9c4300;
    --color-blue: #4fa6eb;
    --color-green: #517d19;
    --color-yellow: #f0ad00;
    --color-red: #b52c1e;
    --catan-red: #b3271c;
    --catan-orange: #d06a33;
    --catan-yellow: #ffdc54;
    --catan-light-yellow: #fbf091;

    --isaac-color: white;
    --jake-color: red;
    --seth-color: var(--color-brown);
    --blaise-color: blue;
    --michael-color: green;
    --faith-color: orange;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover,p:hover,footer:hover {
    cursor: default;
}

.line {
    width: 600px;
    border-style: dotted;
    border-width: 1px;
    border-bottom: rgba(0, 0, 0, 0.048);
}

.center {
    margin: auto;
    width: 50%;
}
.center-text {
    text-align: center;
}

.horizontal-text {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#large-padding {
    margin: 0px 100px 0px 100px;
}

.background {
    background-color: var(--color-brown);
}

.catan-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.catan-background-color {
    background: linear-gradient(var(--catan-red), var(--catan-orange));
}
.catan-background-color p a {
    text-decoration: none;
    color: inherit;
}

.catan-font-color {
    background: linear-gradient(var(--catan-yellow), var(--catan-light-yellow));
    background-clip: text;
    color: transparent;
    margin: auto;
}

.header-text a {
    text-decoration: none;
    color: rgb(248, 194, 173);
}

.card-style {
    background-color: var(--color-red);
    margin-top: 8px;
    padding-bottom: 20px;
}
.card-style ul {
    list-style: none;
}

.card-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: contents;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 10px;
}

.person-card {
    background-color:#ffdc54;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 10px 10px;
    display: flex;
}
.person-card img {
    border-radius: 50%;
    display: flex;
    width: 40%;
    height: 10%;
    margin: 10px 0px 10px 0px;
    justify-content: center;
    align-items: center;
}
.person-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.person-card .list {
    flex: 2;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.person-card .list li {
    background-color: #f9f9f9;
    padding: 8px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.player-button {
    width: 120px;
    height: 60px;
    border-radius: 20px;
    background-color: gray;
    border-width: 4px;
    border-style: solid;
    margin-bottom: 10px;
    border-color: black;
}
.player-button p {
    margin-top: 14px;
    font-size: large;
}

.player-info-card {
    height: 100px;
    background-color: white;
    padding: 1px;
}
.player-info-card p {
    background-color: grey;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

/* GAME BUTTONS */
.game-button {
    border-radius: 10%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: white;
    cursor: pointer;
}
.game-button p {
    margin-bottom: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
}
.game-button a {
    text-decoration: none;
}
.game-button div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.game-button img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.game-button:hover {
    transform: scale(1.05);
}

/* CATAN BOARD */
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-top: 60px;
    background-color: beige;
    padding-bottom: 10px;
    border-radius: 5px;
  }

.hex-row {
    display: flex;
    gap: 6px;
    margin-top: -38px;
}

.hex {
    position: relative;
    width: 130px;
    height: 145px; 

    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #222;
}


/* Resource colors */
.wood { background: #4CAF50; }
.rock { background: #9E9E9E; }
.wheat { background: #FBC02D; }
.brick { background: #D84315; }
.sheep { background: #AED581; }
.desert { background: #e4e3bb; }

/* Number token (circle) */
.token {
    position: absolute;
    width: 46px;
    height: 46px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#debug-border {
    border-color: green;
    border-width: 1px;
    border-style: solid; 
}
